<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data


-->
<ion-view view-title="{{$stateParams.chatId}}">
  <ion-content>
   
      <ion-item  id="exp-choose" class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats"  type="item-text-wrap" href="#/tab/chats/{{par}}/{{chat.$value}}" ng-init='test()'>
        <!-- <img ng-src="{{chat.img}}"> -->
        <h2>{{chat.$value}}</h2>    
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
   
  </ion-content>
</ion-view>



