<ion-view view-title="Contact Us">
	<ion-content >
		<div id="contact">
			<img src="img/logo.png" >
			<h1>ExpTT&trade;</h1>
			<h3>The Vibe Of the Caribbean</h3>
		</div>
		<br>
		<div id="contact" style="padding:10px">
			<div>
				<h3>Share! Advertise! Promote</h3>
				<p>Have An Experience You Want to Share? A Business or Event You Want to Advertise</p>
				<h3>Let Us Know!</h3>
			</div>
			<br>
			<div style="text-align:center;">
				<button ng-click="sendEmail()" class="button button-icon icon ion-email">
				   theexperiencett@gmail.com
				</button>
				<hr>
				<div class="button-bar">
				  <a href="#" class="button button-large button-icon ion-social-facebook button-clear button-dark"></a>
				  <a href="#" class="button button-large button-icon ion-social-twitter button-clear button-dark"></a>
				  <a href="#" class="button button-large button-icon ion-social-googleplus button-clear button-dark"></a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>