<ion-view view-title="Experience TT">
  <ion-content>
  <div>
    <!-- <ion-slide-box on-slide-change="slideHasChanged($index)" 	auto-play="true" does-continue="true">
		<ion-slide ng-repeat="i in items">
			<img ng-src="{{i.src}}">
		</ion-slide>
     </ion-slide-box> -->
    <div id="weather" style="background-image:url('img/blurr1.png')">
    	<h3>Port of Spain, Trinidad</h3>
    	<div class="row">
    		<img ng-src="img/partcloud.png" >
    		<h1 class="col">{{forecast.temp}}&deg</h1>
    	</div>
    		<h3>{{forecast.weather_text}}</h3>
    </div>
    <div>
	    <div class="list card" type="item-text-wrap" ng-repeat="place in places|filter:val|limitTo:4" >
		    <a href="#/details/{{place.$id}}">
			    <div class="item item-image" >
			      	<img ng-src="{{place.img}}"  >
			   	</div>
			</a>
			   	<div class="item item-text" id="card-det" style="background-color:#009688">
			   		<div class="row" >
				      	<strong  class="col col-60"> {{place.title}} </strong>
				      	<button class="button button-small button-outline button-light icon-left ion-star" side="right" ng-click="addFav(place.$id,place.img)">Add To Favourites</button>
			      	</div>
			      	<div class="row">
			      		<p class="col col-60">{{place.location}}</p>
			      	</div>		 
			   	</div>
			
		</div>
		<br/>
  	</div>

  	</div>
  </ion-content>
</ion-view>
