/* Empty. Add your own CSS if you like */
.background,.background .pane {
    background-color: #31373A;
}

/*
.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #31373C ;
}*/

.item-divider{
	margin-bottom: 10px;
}

.bar.bar-stable {
  background-color: transparent;!important; /* or transparent, or background:none */
}
.scroll-content {
  overflow: visible !important;
}


/*Dash slider*/
.slider{
	height:300px;
	width: window.innerWidth;
	

}

.slider-slide{
	
	background-color: #fff;
	
}


.bar.bar-profile {
    background-color: #444;
    height: 170px;
}

.bar .profile {
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-top: 15px;
}

.profile .name {
    color: #FFFFFF;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.profile-picture {
    border-radius: 50%;
}

.menu .has-header
{
    top: 169px;
}
